.freecat {
	font-size: 25px;
	text-align: center;
	padding: 20px;
}

.gambar-cat {
	width: 480px;
	height: 380px;
}

.browsall {
	font-size: 25px;
	text-align: center;
	padding: 20px;
}

/* FOOTER */



/* Batas CSS FOOTER */